@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset any default styles */
html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Custom animation delays for the floating orbs */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}